<p style="color: green"><%= notice %></p>
<h1>Categories</h1>
<div id="groups">
  <% @groups.each do |group| %>
    <% if group.user_id == current_user.id %>
      <%= render group %>
      <p>
        <%= link_to "Show this group", group %>
      </p>
    <% end %>
  <% end %>
</div>
<%= link_to "New Category", new_group_path %>
