<h1>Landing Page </h1>


#   <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure you want to sign out?' } %>

  <%= link_to 'SIGN UP', new_user_registration_path %> | 
  <%= link_to 'LOGIN', new_user_session_path %>

