<div class='logo-container'>
<h1>BillChum</h1>
</div>

<div class='sign-links flexer'>
<%= link_to 'LOG IN', new_user_session_path,class:'sign-up a-tag bluer'%>
<%= link_to 'SIGN UP', new_user_registration_path,class:'sign-up a-tag' %>
</div>

