<h1>Editing payments_entities</h1>

<%= render "form", payments_entity: @payments_entity %>

<br>

<div>
  <%= link_to "Show this payments_entity", @payments_entity %> |
  <%= link_to "Back to payments_entities", payments_entities_path %>
</div>
