<p style="color: green"><%= notice %></p>
<h1>Entities</h1>

<div id="payments_entities">
  <% @payments_entities.each do |payments_entity| %>
    <%= render 'payments_entity', payments_entity: payments_entity %>
  <% end %>
</div>
<%= link_to "Add New Transaction", new_group_payments_entity_path %>


